<html>
    <head>
    </head>
    <body>
        <form method="POST" action=".">
            <table>
                <tr>
                    <td>
                    <label>
                        Username:
                    </label>
                    </td>
                    <td>
                    <input type="text" name="username">
                    </td>
                </tr>
                <tr>
                    <td>
                    <label>
                        Password:
                    </label>
                    </td>
                    <td>
                    <input type="text" name="password">
                    </td>
                </tr>
                <tr>
                    <td>
                    <input type="SUBMIT" name="Submit">
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
